<div class="user-profile">
  <img [src]="user.avatar_url" [alt]="user.login" class="avatar">
  <div class="user-info">
    <h2>{{ user.name || user.login }}</h2>
    <p class="login">{{ '@' + user.login }}</p>
    <p *ngIf="user.bio" class="bio">{{ user.bio }}</p>
    <p *ngIf="user.location" class="location">{{ user.location }}</p>
    <p *ngIf="user.company" class="company">{{ user.company }}</p>
    <p *ngIf="user.blog" class="blog"><a [href]="user.blog" target="_blank">{{ user.blog }}</a></p>
    <div class="stats">
      <div class="stat">
        <span class="stat-number">{{ user.followers }}</span>
        <span class="stat-label">Followers</span>
      </div>
      <div class="stat">
        <span class="stat-number">{{ user.following }}</span>
        <span class="stat-label">Following</span>
      </div>
      <div class="stat">
        <span class="stat-number">{{ user.public_repos }}</span>
        <span class="stat-label">Repos</span>
      </div>
    </div>
    <a [href]="user.html_url" target="_blank" class="github-link">View on GitHub</a>
  </div>
</div>
